apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: IMAGE_URI_PLACEHOLDER
        ports:
        - containerPort: 8000
        env:
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: app-secretstore
              key: db-pass
        - name: API_TOKEN
          valueFrom:
            secretKeyRef:
              name: app-secretstore
              key: api-token
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 20
