name: Deploy App to GKE

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  REGION: asia-south1

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.GCP_SERVICE_ACCOUNT_EMAIL }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ vars.GCP_PROJECT_ID }}

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

      - name: Build & Push Docker Image
        run: |
          IMAGE_URI="${{ env.REGION }}-docker.pkg.dev/${{ vars.GCP_PROJECT_ID }}/${{ vars.GCP_ARTIFACT_REPO }}/backend:${GITHUB_SHA::8}"
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV
          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI

      - name: Get GKE Credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ vars.GCP_GKE_CLUSTER }}
          location: ${{ vars.GCP_GKE_LOCATION }}
          project_id: ${{ vars.GCP_PROJECT_ID }}

      - name: Sync Secrets from Secret Manager
        run: |
          DB=$(gcloud secrets versions access latest --secret=backend_db_pass)
          API=$(gcloud secrets versions access latest --secret=backend_api_token)
          kubectl create secret generic app-secretstore \
            --from-literal=db-pass="$DB" \
            --from-literal=api-token="$API" \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Patch Deployment & Deploy
        run: |
          sed -i "s#IMAGE_URI_PLACEHOLDER#${IMAGE_URI}#g" k8s/deployment.yaml
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl rollout status deployment/app-deployment
